@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


.p2-f2 {
    padding: 80px;
    
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}

.imgacercademi{
    height: 180px;
    float: left;
    margin-right: 50px;
}

.p2-f3{
    padding: 80px;
}

.p2-f3 h2{
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}

.p2-f4{
    padding: 80px; 
}

.p2-f4 h2{
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}

.p2-f4 h4{
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}

.p2-f4 img{
    height: 100px;
    margin: 10px;
}

.p2-f5{
    padding: 80px;
}

.p2-f5 img{
    height: 180px;
    float: left;
    margin-right: 50px;
}

.p2-f5 h2{
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}

.p2-f5 a{
    color: inherit;
}

.f1 img{
    position: fixed;
    top: 10px;
    left: 30px;
}