.botonI{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 90px;
    margin-right: 90px;
    transition: 0.5s;
    object-fit: cover;
    float: left;

}

.botonI:hover{
    background-color: rgb(0, 183, 255);
    transform: scale(1.2);
}

.emojis{
    height: 40px;
}

.ContR{
    height: 40px;
    transition: 0.5s;
}

.ContR:hover{
    transform: scale(1.2);
}

.dendenM{
    float: right;
    height: 300px;
}

.tec{
    height: 70px;
}